<div class="col-md-12" >
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
     [hidden]="isInEditMode">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">todo tags</strong>
        <h3 class="mb-0">{{article.title}}</h3>
        <div class="mb-1 text-muted">{{article.creationDate}}</div>
        <p class="card-text mb-auto">{{article.content}}</p>
        <a href="" class="">Continue reading</a>
        <button class=" btn btn-danger" (click)="toggleReadMode()" *ngIf="authService.isAdmin">Update article</button>
        <br/> <!--class="stretched-link -->
        <button class="btn btn-warning" (click)="delete(article)" *ngIf="authService.isAdmin">Delete article </button>
          <span *ngIf="isWaitingForServerResponse"> please wait...</span>
          <div *ngIf="error"> {{ error | json}}</div>
        
       </div>
    </div>

    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    [hidden]="!isInEditMode">
      <app-article-edit [article]="article"></app-article-edit>
    </div>

       <button class="btn btn-primary" (click)="toggleReadMode()">back to read</button>

    </div>
    
 

  

  