<div class="card" style="width: 18em;">
 <div class="card-body">
     <h3 class="card-title">Register</h3>
     <div>
         <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
             <div class="form-group">
                 <label for="email">Email</label>
                 <input type="email" id="email" formControlName="email" class="form-control" required placeholder="email">
             
                <!--<div *ngIf="email?.error && (email?.dirty || email?.touched)" class="alert alert-danger">
                    email is required
                </div>  --> 
                </div>

             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control" required placeholder="password">

               <!--  <div *ngIf="password?.error && (password?.dirty || password?.touched)" class="alert alert-danger">
                    password should be least 5 characters long
                </div> -->
                <div class="form-group">
                    <button class="btn btn-success" [disabled]="registerForm.pristine || !this.registerForm.valid">register</button>
                </div>
            
            </div>
         </form>
     </div>
 </div>
</div>