<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bashroom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/home">admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/article-new">new Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="articles">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/register">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search Articles">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> 

<body class="d-flex flex-column h-100">
    

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    
    <h3> Where does it come from?</h3>

 
    <router-outlet></router-outlet>
  </div>
</main>

  </body>
  <footer class="footer mt-auto py-3 bg-light  fixed-bottom bg-secondary text-white">
    <div class="container d-flex justify-content-between">
     <span>  <code>hello</code>  </span>
     <p></p>
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>


