<h3>Update article</h3>
<div class="row">
    <h1 class="display-4 text-center">Update article</h1>

  
     <form  [formGroup]="articleForm" (ngSubmit)= "onSubmit()">
    <div class="form-group">
      <label class="form-label" for="articleTitle">Article title </label>
      <input type="text" placeholder="article title" formControlName="title" id="articleTitle" class="form-control m-1" required>

    </div>
    
    <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="alert alert-danger form-control m-1 p-1 ">article title is required</div>

  
    <div class="form-group">
      <label for="description" class="form-label"> Description :</label>
        <textarea id="description" id="content" required placeholder="tape article content here" cols="15" rows="10" class="form-control m-1 p-1"
                 formControlName="content"></textarea>
    </div>

    <div *ngIf="content?.errors && (content?.dirty || content?.touched) " class="alert alert-danger form-group p-1">article content is too short (min 20 caracters</div>
   
    <div class="form-group">
        <button [disabled]="articleForm.invalid"    type="submit" class="btn btn-success btn-lg">Create article</button>
     </div>
     </form>
   </div> 
 
  

  <div class="alert alert-success" *ngIf="(response$ | async ) as res"> 
      {{ res | json}}
    </div>
    
  <div class="alert alert-success" *ngIf ="error" class="alert alert-danger">
    An error occured. Please try again later.
  </div>
  <div class="col-6">

    </div>